// Sass - Operations

.operations {
    width: (500px + 100px);
    width: (800px - 200px);
    height: (1000px / 5);
    height: (200px * 2);
    margin-right: round(2.5) / 3;
    width: 500px - 200px / 100px;
    color: #010203 * 2;
    background: #010203 + #040506;
}