// Sass - Nested Rules
.main {
    color: #00ff00;
    width: 100%;
    .main-content {
        background-color: #ff0000;
        color: #000000;
        a {
            font-weight: bold;
            &:hover {
                color: red;
            }
        }
    }
    .main-info {
        font: {
            family: Arial;
            size: 30px;
            weight: bold;
        }
    }
}